<script src="https://getinsights.io/js/insights.js"></script>
<script>
insights.init('zC1BwFdpXTJGSvmA');
insights.trackPages();
</script>

<!-- Cronitor RUM -->
<script async src="https://rum.cronitor.io/script.js"></script>
<script>
    window.cronitor = window.cronitor || function() { (window.cronitor.q = window.cronitor.q || []).push(arguments); };
    cronitor('config', { clientKey: 'a546cbf921f332b69e09fd80df9f03d6' });
</script>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/sv_SE/sdk.js#xfbml=1&version=v16.0" nonce="Ybuz0owE"></script>
